{% extends "base.html.twig" %}

{% block title %}{{ site.name }}{% endblock %}

{% block body %}
    <h1>Form Deal</h1>
    {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {% for label, messages in app.flashes(['warning', 'error', 'success']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
